html, 
body {
    height: 100%;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	margin:0;
	padding:0;
}
h3{
	margin-top: 1vh;
	margin-bottom: 1vh;
}
h1{
	font-size: 2.5vw;
}
span{
	font-size: 1.3vw
}

/*------------------------*/
/* Body styles */

.show_on_hover{
	opacity: 1;
	font-size: 0;
	height: 1.5vh;
}

.show_on_hover:hover{
	opacity: 1;
	font-size: 1.5vh;
	height: initial;
}

@keyframes slide_in {
	0% {
		opacity: 0;
		transform: translateX(-30%);
	}
	1% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide_in_right {
	0% {
		opacity: 0;
		transform: translateX(30%);
	}
	1% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide_out_right {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	1% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 3vh;
  }
}

@keyframes fade_in {
	0% {
		opacity: 0;
		transform: scale(1.5);
	}
	1% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 4vh;
  }
}

@keyframes doProgress {
  0%{
	width: 0%;
	border-top-right-radius: 0vw;
  }
  95%{
	border-top-right-radius: 0vw;
  }
  100% {
	border-top-right-radius: 1vw;
    width: 100%;
  }
}

@keyframes doProgressReversed {
  0%{
	width: 100%;
	opacity: 0;
  }
  100% {
    width: 0%;
	opacity: 1;
  }
}

/* Basic style "colorfusion" from #EB5C79 to #7D5C60*/
body.colorfusion{
	background: rgb(235,92,121);
	background: linear-gradient(42deg, rgba(235,92,121,1) 15%, rgba(125,92,96,1) 100%);
}
body.colorfusion2{
	background: rgb(92,140,235);
	background: linear-gradient(42deg, rgba(92,140,235,1) 15%, rgba(92,97,125,1) 100%);
}

/*------------------------*/
/* Input styles */

input {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 2px solid white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 2.5vw;
}

input::placeholder {
	color: rgba(255,255,255,0.4);
}

/*------------------------*/
/* Button styles */
button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.7vw;
	color:white;
	transition-duration: 1s;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
	
	margin: 1vw;
}
button:hover {
    background:rgba(255,255,255,0.4);
	transform: rotateY(10deg);
}

button.select_avatar{
	margin:0;
	width:33%;
}

button.selected{
	background:rgba(255,255,255,0.2);
}

button.select_avatar:disabled{
	opacity: 0.1;
}

/*------------------------*/
/* Image styles */

img.building_1{
	mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

/*------------------------*/
/* Div styles */
/* Basic style "elevated" */

div.elevated{
	background-color: transparent;
	border-radius: 2vw;
	box-shadow: 0px 0px 2vw rgba(0,0,0,0.3);
	
	position: absolute;
	padding:3vw;
	animation: slide_in 1.0s;
}

div.elevated_reversed{
	background-color: transparent;
	border-radius: 2vw;
	box-shadow: 0px 0px 2vw rgba(0,0,0,0.3);
	
	position: absolute;
	padding:3vw;
	animation: slide_in_right 1.0s;
}

div.elevated_reversed_out{
	background-color: transparent;
	border-radius: 2vw;
	box-shadow: 0px 0px 2vw rgba(0,0,0,0.3);
	opacity: 0;
	position: absolute;
	padding:3vw;
	animation: slide_out_right 1.0s;
	transform: translateX(-30%);
}

div.user{
	transition-duration: 1s;
	margin-top:0.6vw;
	padding: 0.7vw;
    background-color: rgba(255,255,255,0.1);
    border-radius: 1vw;
	font-size: 2vw;
}
div.user:hover{
	transform: rotateY(10deg);
}

div.user_nobg{
	transition-duration: 1s;
	margin-top:0.6vw;
	padding: 0.7vw;
    border-radius: 1vw;
	font-size: 2vw;
}
div.user_nobg:hover{
	transform: rotateY(10deg);
}

div.field_step{
	position: absolute;
	transition-duration: 1s;
	padding: 1vw;
    background-color: rgba(255,255,255,0.1);
    border-radius: 1vw;
}
div.field_step:hover{
	transform: rotateY(10deg);
}

div.building_container{
	animation: MoveUpDown 3s ease-in-out infinite;
}

div.dice_container{
	transition-duration: 1s;
    font-size: 8.5vh;
    border-color: rgba(255,255,255,0.5);
    border-style: solid;
    border-width: 0.5vh;
    border-radius: 2vw;
    position: fixed;
    left: 2.5vh;
    width: 10vh;
    height: 10vh;
    top: 85vh;
	user-select: none;
}

div.dice_container:hover{
    background-color: rgba(255,255,255,0.5);
}

div.loading_gamemode{
	position: fixed;
	transition-duration: 1s;
	padding: 1vw;
    border-radius: 1vw;
	top: 50%;
	margin-top: -15%;
	height: 30%;
	width: 30%;
	left:50%;
	margin-left: -15%;
	animation: fade_in 1.0s;
}

div.loading_gamemode_progress{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(255,255,255,0.3);
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
	animation: doProgress 10.0s linear;
}

div.gamemode_result{
	position: fixed;
	transition-duration: 1s;
	padding: 1vw;
    border-radius: 1vw;
	top: 50%;
	margin-top: -20%;
	height: 40%;
	width: 40%;
	left:50%;
	margin-left: -20%;
	animation: fade_in 1.0s;
}

div.game_result{
	position: fixed;
	transition-duration: 1s;
	padding: 1vw;
	background: linear-gradient(9deg, rgba(235,166,92,1) 15%, rgba(236,197,78,1) 100%); 
    border-radius: 0;
	top: 0;
	height: 100%;
	width: 100%;
	left:0;
	animation: fade_in 1.0s;
}

div.game{
	z-index: 1;
	position: fixed;
	transition-duration: 1s;
	padding: 1vw;
    border-radius: 0;
	top: 0;
	height: 100%;
	width: 100%;
	left:0;
	animation: fade_in 1.0s;
}

div.minefield{
	position: absolute;
	transition-duration: 1s;
	padding: 1vw;
    background-color: rgba(255,255,255,0.1);
    border-radius: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
div.minefield:hover{
	transform: rotateY(10deg);
}


/*------------------------*/

.noanimation{
	animation: none !important;
}
