html,
body {
	scroll-behavior: smooth;
    	height: 100%;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	margin:0;
	padding:0;
	overflow-y: hidden;
}
a{
	text-decoration: none;
	color:inherit;
}
h3{
	margin-top: 1.5vh;
	margin-bottom: 1vh;
	font-size: 1.5vw;
}
h2{
	margin-top: 1.5vh;
	margin-bottom: 1vh;
	font-size: 2vw;
}
h1{
	margin-top: 1.5vh;
	margin-bottom: 1vh;
	font-size: 2.5vw;
}
span{
	font-size: 1.3vw
}

hr{
	clear:both;
	border: 1px solid rgba(255,255,255,0.2);
}

div.fieldcontainer::-webkit-scrollbar{
	display: none;
}

div.fieldcontainer{
	scrollbar-width: none;
}

/*------------------------*/
/* Body styles */

.show_on_hover{
	opacity: 1;
	font-size: 0;
	height: 1.5vh;
}

.show_on_hover:hover{
	opacity: 1;
	font-size: 1.5vh;
	height: initial;
}

@keyframes slide_in {
	0% {
		opacity: 0;
		transform: translateX(-30%);
	}
	1% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide_in_right {
	0% {
		opacity: 0;
		transform: translateX(30%);
	}
	1% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide_out_right {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	1% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 3vh;
  }
}

@keyframes fade_in {
	0% {
		opacity: 0;
		transform: scale(1.5);
	}
	1% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fade_in_half {
	0% {
		opacity: 0;
		transform: scale(1.5);
	}
	1% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
		transform: scale(1);
	}
}

@keyframes MoveUpDown {
	0%, 100% {
		transform: translateY(0vh);
	}
	50% {
		transform: translateY(3vh);
	}
}

@keyframes doProgress {
	0%{
		width: 0%;
		border-top-right-radius: 0vw;
	}
	95%{
		border-top-right-radius: 0vw;
	}
	100% {
		border-top-right-radius: 1vw;
		width: 100%;
	}
}

@keyframes doProgressReversed {
  0%{
	width: 100%;
	opacity: 0;
  }
  100% {
    width: 0%;
	opacity: 1;
  }
}

span.badge{
	background-color: rgba(0,0,0,0.1);
	border-radius: 1vw;
	padding: 0.4%;
	margin-top: 2.5%;
	transform: scale(0.4);
	font-size: 0.6em;
	margin-left: 1%;
	vertical-align: 10%;
}

/* Basic style "colorfusion" from #EB5C79 to #7D5C60*/
body.colorfusion{
	background: rgb(235,92,121);
	background: linear-gradient(42deg, rgba(235,92,121,1) 15%, rgba(125,92,96,1) 100%);
}
body.colorfusion2{
	background: rgb(92,140,235);
	background: linear-gradient(42deg, rgba(92,140,235,1) 15%, rgba(92,97,125,1) 100%);
}
body.colorfusion_red{
  background: rgb(164,58,58);
  background: linear-gradient(42deg, rgba(164,58,58,1) 15%, rgba(255,128,128,1) 100%);
}

/*------------------------*/
/* Canvas styles */

canvas.game{
    background-color: white;
    border-radius: 1vw;
    height: 100%;
    box-shadow: 0px 0px 1vw 1px #555;
}

/*------------------------*/
/* Input styles */

input {
	border: 0.2vw solid rgba(255,255,255,0.3);
	outline: 0;
	background: transparent;
	font-family: 'Ubuntu', sans-serif;
	font-size: 2.5vw;
	transition-duration: 0.5s;
	padding:0.6vw;
	border-radius: 3vw;
}

input.small {
	font-size: 1.25vw;
	padding:0.3vw;
}

input:focus {
	background-color: rgba(255,255,255,0.3);
}

input::placeholder {
	color: rgba(255,255,255,0.4);
}

/*------------------------*/
/* Button styles */
button {
    background:none;
    border:none;
    padding:0;
    cursor: pointer;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.7vw;
	color:white;
	transition-duration: 1s;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
	margin: 1vw;
}

button.slim {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.7vw;
	color:white;
	transition-duration: 1s;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	margin-bottom: 0.5vh;
}

button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.7vw;
	color:white;
	transition-duration: 1s;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;

	margin: 1vw;
}

button:hover {
    background:rgba(255,255,255,0.4);
	transform: rotateY(10deg);
}

button.select_avatar{
	margin:0;
	width:33%;
}

button.selected{
	background:rgba(255,255,255,0.2);
}

button.select_avatar:disabled{
	opacity: 0.1;
}

button.repeat{
  border-radius: 1vh;
	background-color: rgb(150,150,150);
  color: rgba(0, 0, 0, 0.0);
	position: absolute;
	padding: 0;
	margin-left: 1%;
	margin-bottom: 1%;
  opacity: 0.3;
}

button.repeatShown{
	background-color: yellow;
  opacity: 0.7;
}

button.repeatNotShown{
	position: absolute;
}

button.repeatCorrectClick{
	background-color: green;
  opacity: 0.7;
}

button.repeatIncorrectClick{
	background-color: red;
  opacity: 1;
}

/*------------------------*/
/* Image styles */

img.building_1{
	mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

/*------------------------*/
/* Div styles */
/* Basic style "elevated" */

div.elevated{
	background-color: transparent;
	border-radius: 2vw;
	box-shadow: 0px 0px 2vw rgba(0,0,0,0.3);

	position: absolute;
	padding:3vw;
	animation: slide_in 1.0s;
}

div.elevated_reversed{
	background-color: transparent;
	border-radius: 2vw;
	box-shadow: 0px 0px 2vw rgba(0,0,0,0.3);

	position: absolute;
	padding:3vw;
	animation: slide_in_right 1.0s;
}

div.elevated_reversed_out{
	background-color: transparent;
	border-radius: 2vw;
	box-shadow: 0px 0px 2vw rgba(0,0,0,0.3);
	opacity: 0;
	position: absolute;
	padding:3vw;
	animation: slide_out_right 1.0s;
	transform: translateX(-30%);
}

div.user{
	transition-duration: 1s;
	margin-top:0.6vw;
	padding: 0.7vw;
    background-color: rgba(255,255,255,0.1);
    border-radius: 1vw;
	font-size: 2vw;
}
div.user:hover{
	transform: rotateY(10deg);
}

div.user_nobg{
	transition-duration: 1s;
	margin-top:0.6vw;
	padding: 0.7vw;
    border-radius: 1vw;
	font-size: 2vw;
}
div.user_nobg:hover{
	transform: rotateY(10deg);
}

div.field_step{
	position: absolute;
	transition-duration: 1s;
	padding: 1vw;
    background-color: rgba(255,255,255,0.1);
    border-radius: 1vw;
}
div.field_step:hover{
	transform: rotateY(10deg);
}

div.building_container{
	animation: MoveUpDown 3s ease-in-out infinite;
}

div.dice_container{
    transition-duration: 1s;
    font-size: 7vw;
    border-color: rgba(255,255,255,0.5);
    border-style: solid;
    border-width: 0.5vh;
    border-radius: 2vw;
    position: fixed;
    left: 2vh;
    width: 8vw;
    height: 8vw;
    top: calc(88vh - 7.5vw);
    user-select: none;
}

div.dice_container:hover{
    background-color: rgba(255,255,255,0.5);
}

div.userinfo{
	font-size: 8.5vh;
    background-color: rgba(0,0,0,0.2);
    padding: 0.5%;
    user-select: none;
    float: left;
	margin-left: 0.5%;
    display: inline;
    border-radius: 3vw;
}

div.letter_container{
	transition-duration: 1s;
    font-size: 8.5vh;
    border-color: rgba(255,255,255,0.5);
    border-style: solid;
    border-width: 0.5vh;
    border-radius: 2vw;
    position: absolute;
    width: 10vh;
    height: 10vh;
	left: calc(50% - 5vh);
	user-select: none;
}

div.vote_gamemode:hover{
	z-index: 15;
	transform: scale(1.1);
}

div.vote_gamemode:active{
	opacity: 0.7;
}

div.vote_gamemode{
	z-index: 12;
}

div.vote_gamemode_left{
	position: fixed;
	transition-duration: 0.5s;
	padding-top: 1%;
	padding-left: 1%;
    	border-top-left-radius: 1vw;
    	border-bottom-left-radius: 1vw;
	top: 50%;
	margin-top: -15%;
	height: 30%;
	
	width: 19%;
	left:50%;
	margin-left: -20%;
	animation: fade_in 1.0s;
}

div.vote_gamemode_right{
	position: fixed;
	transition-duration: 0.5s;
	padding-top: 1%;
	padding-right: 1%;
    	border-top-right-radius: 1vw;
    	border-bottom-right-radius: 1vw;
	top: 50%;
	margin-top: -15%;
	height: 30%;

	width: 19%;
	left:50%;
	margin-left: -0%;
	animation: fade_in 1.0s;
	text-align: right;
}

div.loading_gamemode{
	position: fixed;
	transition-duration: 1s;
	padding: 1vw;
    border-radius: 1vw;
	top: 50%;
	margin-top: -15%;
	height: 30%;
	width: 30%;
	left:50%;
	margin-left: -15%;
	animation: fade_in 1.0s;
}

div.loading_gamemode_progress{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(255,255,255,0.3);
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
	animation: doProgress 10.0s linear;
}

div.gamemode_result{
	position: fixed;
	transition-duration: 1s;
	padding: 1vw;
    border-radius: 1vw;
	top: 50%;
	margin-top: -20%;
	height: 40%;
	width: 40%;
	left:50%;
	margin-left: -20%;
	animation: fade_in 1.0s;
}

div.game_result{
	position: fixed;
	transition-duration: 1s;
	padding: 1vw;
	background: linear-gradient(9deg, rgba(235,166,92,1) 15%, rgba(236,197,78,1) 100%);
    border-radius: 0;
	top: 0;
	height: 100%;
	width: 100%;
	left:0;
	animation: fade_in 1.0s;
}

div.game{
	z-index: 1;
	position: fixed;
	transition-duration: 1s;
	padding: 1vw;
    border-radius: 0;
	top: 0;
	height: 100%;
	width: 100%;
	left:0;
	animation: fade_in 1.0s;
}

div.minefield{
	position: absolute;
	transition-duration: 1s;
	padding: 1vw;
    background-color: rgba(255,255,255,0.1);
    border-radius: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
div.minefield:hover{
	transform: rotateY(10deg);
}

/*Colorselection*/
div.colorselector{
	position: absolute;
    width: 1vw;
    background-color: red;
    height: 1vw;
    border-radius: 3vw;
}
div.colorselector_selected{
	position: absolute;
    width: 1vw;
    background-color: red;
    height: calc(1vw - 2px);
    border-radius: 3vw;
	border: 2px solid black;
	width: calc(1vw - 2px);
}

/*------------------------*/

.noanimation{
	animation: none !important;
}
